// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$brand-primary:         #725BCE;
$blue:                  #1EA8E5;
$gray:                  #585858;

// Typography
$base-font-family: "Raleway", arial, sans-serif;
$base-font-weight: 300;
$base-header-weight: 800;

